<div class="container">
<div class="row my-5">
<div class="col-sm-12 col-md-7">
  <img class="img-fluid" src="./netflix.jpg" alt="netflix on a laptop">
    </div>
  <div class="col-sm-12 col-md-5">
    <h2 class="h3">Netflix adds new series</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente error autem libero quod dolores
      incidunt, nobis veniam laborum qui minima at eligendi, quos facilis!</p>

    <p>Aut cumque rerum a quas minima maxime reprehenderit. Minus excepturi magnam id inventore suscipit
      aliquam assumenda nulla temporibus explicabo tenetur vero, quisquam nesciunt cumque officiis
      repellat ratione distinctio! Laudantium fuga ex nemo cum suscipit a?</p>
  </div>
</div>
<div class="row my-5">
  <div class="col-sm-12 col-md-7 order-1">
    <img class="img-fluid" src="./old-theatre.jpg" alt="old theatre">
    </div>
    <div class="col-sm-12 col-md-5 order-2">
      <h2 class="h3">Ticket sales doubling</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente error autem libero quod
        dolores incidunt, nobis veniam laborum qui minima at eligendi, quos facilis!</p>

      <p>Aut cumque rerum a quas minima maxime reprehenderit.</p>
    </div>
  </div>
</div>